#parent {
    border: 1px solid #000;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    color: rgba(26, 87, 166, 1);
    background-color: rgb(40, 33, 33);
    font-size: 12pt;
    -webkit-border-bottom-left-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -moz-border-radius-bottomleft: 15px;
    -moz-border-radius-bottomright: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15pxs;
}
#wrapper .child1 {
    float: left;
    width: 85%;
}

#wrapper .child2 {
    margin-left: 88%;
    margin-top: 5%;
}

div.clear {
    clear: both;
}
.range-slider {
  display: inline-block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  padding-bottom: 15px;
  & > input {
    opacity: 0;
    width: 100%;
    position: relative;
    z-index: 5;
    margin-top: 72px;
    -webkit-appearance: none;
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      z-index: 100;
      position: relative;
      width: 50px;
      height: 30px;
      -webkit-border-radius: 10px;
    }
  }
  & > span.slider-container {
    display: inline-block;
    min-height: 110px;
    display: inline-block;
    position: absolute;
    top: 70px;
    left: -8px;
    right: 46px;
    z-index: 3;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    & > span.bar {
        background-color: #000;
        display: inline-block;
        position: absolute;
        z-index: 1;
        top: 12px;
        left: 10px;
        right: -42px;
        height: 11px;
        overflow: hidden;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        & > span {
          background: #02c38a;
          display: inline-block;
          float: left;
          height: 11px;
          width: 0%;
        }
      }
      & > span.bar-btn {
        display: inline-block;
        position: absolute;
        width: 46px;
        height: 30px;
        padding-top: 8px;
        font-weight: bold;
        text-align: center;
        background: #fff;
        left: -25px;
        top: -65px;
        border-radius: 3px;
        border: #333 2px solid;
        -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
        -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
        &:after {
          content: "";
          border: 2px solid #fff;
          background-color: #02c38a;
          border-radius: 20px;
          width: 30px;
          height: 30px;
          display: inline-block;
          position: absolute;
          left: 8px;
          top: 63px;
          z-index: 3;
          -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
          -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
        }
        & > span{
          &:before {
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            border-width: 25px;
            border-style: solid;
            border-color: #333 transparent transparent;
            position: absolute;
            top: 39px;
            left: -2px;
          }
          &:after {
            content: "%";
          }
        }
      }

    }
}



table.naked_table {
    width: 100%;
    margin-left: -20px;
    border: none;
    border-collapse: separate;
    border-spacing: 30px 20px;
}

table.naked_table td.input_slider {
    text-align: left;
}

.hd-slider-width {
    width: 70%;
}

.hd-number-width {
    width: 20%;
}

form.slider_input {
    width: 130%;
}

label.before_slider {
    display: inline-block;
    width: 100%;
    padding-left: 0;
    margin-left: 0;
    text-align: right;
}
